<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sweet.provider.dao.BookMapper" >

  <resultMap id="BaseResultMap" type="com.sweet.common.model.Book">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`
  </sql>
  <select id="findBookNameById" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select
    `name`
    from book
    where id = #{id}
  </select>
  <select id="findBookById" resultType="com.sweet.common.model.Book" parameterType="Integer">
     select
    <include refid="Base_Column_List" />
    from book
    where id = #{id}
  </select>


</mapper>